@charset "utf-8";
/* CSS Document */

#main .main>article>.article-3>ul>li>a>s{width: 38px;height: 38px;border-radius:50%;display: block;position: absolute;background: salmon;text-align: center;font: 12px/38px "微软雅黑";color: #FFFFFF;}
