@charset "utf-8";
/* CSS Document */
#all{height: 75px}
#all>.all{width: 1200px;margin: auto;position:relative;font-size:0 ;}
#all>.all>.all-1{height: 16px;position: absolute;top:10px}
#all>.all>.all-1>a{height: 16px;width: 16px;position: relative;top:-1px}
#all>.all>.all-1>span{font: 12px/12px "微软雅黑";position: relative;top:4px;cursor: pointer;color:#666;}
#all>.all>.all-1>a>img{height: 16px;width: 16px;}
#all>.all>.all-1>img{height: 12px;width: 12px;}

#shop-main{}
#shop-main>.shop-main{width: 1200px;margin: auto;overflow: hidden;}
#shop-main>.shop-main>.shop-main-left{float: left;width: 570px;overflow: hidden;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-1{font-size: 0;position: relative;height: 852px;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-1>a{width: 570px;height: 852px;position: absolute;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-1>a>img{width: 570px;height: 852px;}
#shop-main>.shop-main>.shop-main-left>.s-l{height: 23px;position: relative;top:-403px;}
#shop-main>.shop-main>.shop-main-left>.s-l>.s-l-l{float: left;}
#shop-main>.shop-main>.shop-main-left>.s-l>.s-l-l>a{height: 23px;}
#shop-main>.shop-main>.shop-main-left>.s-l>.s-l-l>img{width: 13px;height: 23px;margin: 0 15px;cursor: pointer;}
#shop-main>.shop-main>.shop-main-left>.s-l>.s-l-r{float: right;}
#shop-main>.shop-main>.shop-main-left>.s-l>.s-l-r>a{height: 23px;}
#shop-main>.shop-main>.shop-main-left>.s-l>.s-l-r>img{width: 13px;height: 23px;margin: 0 15px;cursor: pointer;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-2{font-size: 0;margin-top:20px ;width:582px;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-2>a{width: 85px;height:126px;margin:0 12px 10px 0 ;display: block;float: left;cursor: pointer;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-2>a>img{width: 85px;height: 126px;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-3{height: 48px;border: 1px solid #CCCCCC;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-3>a{font: 12px/4 "微软雅黑";color: #666666;text-align: center;display: block;}
#shop-main>.shop-main>.shop-main-left>.shop-main-left-3>a>img{width: 12px ;height: 12px;margin-right:5px ;margin-bottom:3px ;}
#shop-main>.shop-main>.shop-main-right{float: left;margin-left:36px ;}
#shop-main>.shop-main>.shop-main-right>span{font: 12px/12px "微软雅黑";display: block;color: #666666;margin-bottom: 10px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-1{height: 18px;display: block;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-1>p{width: 18px;height: 18px;font: 12px/18px "微软雅黑";color: #ffffff;background-color:#e94d8c;text-align: center;float: left;margin-right: 3px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-1>b{height: 18px;font: 12px/18px "微软雅黑";color: #ffffff;background-color:#e62318;text-align: center;display: block;width:36px;float: left;margin-right: 3px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-1>em{height: 18px;font: 12px/18px "微软雅黑";color: #ffffff;background-color:#e62318;text-align: center;display: block;width:36px;float: left;margin-right: 3px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-2{height: 24px;margin: 16px 0;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-2>del{font: 12px/2 "微软雅黑";display: block;float: left;color: #666666;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-2>u{font: 12px/2 "微软雅黑";display: block;float: left;margin-left: 8px;color: #E62318;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-l{float: left;width: 100px;margin-right:12px;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-l>a{width: 100px;height: 150px;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-l>a>img{width: 100px;height: 150px;display: block;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-l>span{margin: 10px 0 30px 38px;font: 12px/12px "微软雅黑";color: #999999;display: block;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-r{float: left;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-r>p{height: 80px;border-top:1px solid #cccccc ;border-bottom:1px solid #cccccc ;margin-bottom: 120px;width: 480px;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-r>p>span{font: 12px/80px "微软雅黑";color: #666666;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-r>p>a{display: block;width: 140px;height: 50px;font: 12px/50px "微软雅黑";color: #FFFFFF;float: right;background-color:skyblue;text-align: center;border-radius: 5px;margin: 15px 0;}
#shop-main>.shop-main>.shop-main-right>.shop-mian-right-r>p>a>img{width: 14px;height: 14px;margin-right:5px ;position: relative;top:-2px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-3{height: 12px;margin:28px 0 47px 0 ;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-3>img{width: 12px;height: 12px;display: block;float: left;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-3>a{font: 12px/12px "微软雅黑";display: block;float: left;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-4{height: 28px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-4>a{height: 28px;width:140px;float: left;margin-right: 2px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-4>a:nth-of-type(1){background-color: #55acee;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-4>a:nth-of-type(2){background-color: #00c300;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-4>a:nth-of-type(3){background-color: #999999;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-4>a>img{width: 14px;height: 12px;margin-left: 36px;margin-bottom: 3px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-4>a>span{font: 12px/28px "微软雅黑";color: #FFFFFF;margin-left:4px ;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5{margin-top: 32px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>h3{font: 12px/3 "微软雅黑";color: #666666;border-bottom: 1px solid #cccccc ;font-weight:800 ;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p{font: 12px/2 "微软雅黑";color: #666666;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(1){font: 12px/12px "微软雅黑";margin-top: 18px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(2){font: 12px/5 "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(3){font: 12px/2 "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(4){font: 12px/2 "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(5){font: 12px/2 "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(6){font: 12px/5 "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(7){font: 12px/3 "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(8){font: 12px/3 "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-5>p:nth-of-type(9){font: 12px/12px "微软雅黑";}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-6{border: 1px solid #CCCCCC;margin-top: 20px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-6>h3{font: 12px/3 "微软雅黑";color: #e62318;font-weight:800 ;margin-left: 16px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-6>p{font: 12px/2 "微软雅黑";color: #666666;margin-left: 16px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-7{margin-top: 15px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-7>p{font: 12px/2 "微软雅黑";color: #666666;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-8{margin-top: 45px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-8>h3{font: 12px/3 "微软雅黑";color: #666666;border-bottom: 1px solid #cccccc ;font-weight:800 ;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-8>table{border: 1px solid #CCCCCC;margin-top: 15px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-8>table>tbody>tr{height: 55px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-8>table>tbody>tr>th{padding:20px 43px;border: 1px solid #CCCCCC;font-family:"微软雅黑" ;font-size: 12px;color: #666666;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-8>table>tbody>tr>td{padding:20px 43px;border: 1px solid #CCCCCC;text-align: center;font-family:"微软雅黑" ;font-size: 12px;color: #666666;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-9{margin-top: 48px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-9>h3{font: 12px/3 "微软雅黑";color: #666666;border-bottom: 1px solid #cccccc ;font-weight:800 ;margin-bottom: 15px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-9>a{font: 12px/2 "微软雅黑";color: #666666;border: 1px solid;width: 80px;display: block;float: left;text-align: center;border-radius: 12px;margin: 0 2px;}


#shop-main>.shop-main>.shop-main-right>.shop-main-right-10{margin-top: 48px;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-10>h3{font: 12px/3 "微软雅黑";color: #666666;border-bottom: 1px solid #cccccc ;font-weight:800 ;margin-top:20px ;}
#shop-main>.shop-main>.shop-main-right>.shop-main-right-10>p{font: 12px/5 "微软雅黑";color: #666666;}

#new{}
#new .new{width: 1200px;margin: auto;}
#new .new .new-t{height: 138px;position: relative;}
#new .new .new-t>a{width:80px;font: 20px/138px "微软雅黑";font-weight:800 ;display: block;position: absolute;top:0;left:46%;background-color:#FFFFFF ;padding: 0 10px;}
#new .new .new-t>p{height: 68px;border-bottom:1px solid #a1a1a1 ;}
#new .new .new-b{}
#new .new .new-b ul{display: flex;justify-content: space-between;}
#new .new .new-b ul li{}
#new .new .new-b ul li>a{}
#new .new .new-b ul li>a>img{height: 288px;width: 217px;}
#new .new .new-b ul li>a>p{width: 18px;height: 18px;font: 12px/18px "微软雅黑";color: #ffffff;background-color:#e94d8c;text-align: center;margin-top:37px;}
#new .new .new-b ul li>a>i{height: 18px;font: 12px/18px "微软雅黑";color: #ffffff;background-color:#12a1e5;text-align: center;display: block;width:36px;margin-top:37px;}
#new .new .new-b ul li>a>span{display: block;font: 12px/18px "微软雅黑";margin-top:5px;}
#new .new .new-b ul li>a>u{display: block;font: 12px/18px "微软雅黑";color: #e62318;margin: 8px 0 28px 0;}
#new .new .new-r{height: 30px;}
#new .new .new-r>a{height: 28px;font: 12px/28px "微软雅黑";float: right;border: 1px solid #a8a8a8;border-radius:4px;padding: 0 8px;}
