@charset "utf-8";
/* CSS Document */
#all{}
#all>.all{width: 1200px;margin: auto;position:relative;font-size:0 ;}
#all>.all>.all-1{height: 16px;position: absolute;top:10px;overflow: hidden;}
#all>.all>.all-1>a{height: 16px;width: 16px;position: relative;top:-1px}
#all>.all>.all-1>span{font: 12px/12px "微软雅黑";position: relative;top:4px;cursor: pointer;color:#666;}
#all>.all>.all-1>a>img{height: 16px;width: 16px;}
#all>.all>.all-1>img{height: 12px;width: 12px;}
#all>.all>.all-2{height: 60px;padding-top: 80px;}
#all>.all>.all-2>img{height: 14px;float: left;margin-right: 3px;position: relative;top: 23px;right: -2px;}
#all>.all>.all-2>a{height: 60px;width: 275px;font: 12px/60px "微软雅黑";color: #666666;text-align: center;display: block;float: left;border:1px solid #CCCCCC ;}
#all>.all>.all-2>a>img{height: 14px;position: relative;top:-2px;left:-10px;}
#all>.all>.all-2>a:nth-of-type(1){background-color: skyblue;color: #FFFFFF;border: none;}
#all>.all>.all-2>a:nth-of-type(2){background-color: skyblue;color: #FFFFFF;border: none;}
#all>.all>.all-3{height: 20px;padding: 44px 0;}
#all>.all>.all-3>a{font: 20px/20px "微软雅黑";font-weight:800;text-align: center;width: 180px;margin: auto;display: block;color:#666;}

#information{}
#information>.information{width: 1200px;margin: auto;overflow:hidden;}
#information>.information>.information-l{float: left;width: 930px;border-top:2px solid #004098;margin-top: 24px;}
#information>.information>.information-l>.information-l-1{position: relative;}
#information>.information>.information-l>.information-l-1>span{position:relative;top:33px;font: 12px/12px "微软雅黑";color: #666666;}
#information>.information>.information-l>.information-l-1>.information-l-1-1{margin-left: 190px;}
#information>.information>.information-l>.information-l-1>.information-l-1-1>input{width: 21px;height: 21px;display: inline-block;margin-right: 10px;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/radio-checked.svg) no-repeat 0 0;vertical-align: middle;position: absolute;top:30px;left: 160px;}
#information>.information>.information-l>.information-l-1>.information-l-1-1>span{display: block;margin-top: 8px;font: 12px/3 "微软雅黑";color: #666666;}
#information>.information>.information-l>.information-l-1>.information-l-1-1>p{font: 12px/2 "微软雅黑";color: #666666;}
#information>.information>.information-l>.information-l-1>.information-l-1-1>p:nth-of-type(2){padding-bottom:18px ;border-bottom: 1px dashed #666666;}
#information>.information>.information-l>.information-l-2{position: relative;height: 106px;border-bottom: 1px solid #CCCCCC;}
#information>.information>.information-l>.information-l-2>input{width: 21px;height: 21px;display: inline-block;margin-right: 10px;
border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/radio.svg) no-repeat 0 0;vertical-align: middle;position: absolute;left: 160px;top:52px;}
#information>.information>.information-l>.information-l-2>span{font: 12px/12px "微软雅黑";color: #666666;display: block;margin-left: 191px;padding-top: 57px;padding-bottom: 36px;}
#information>.information>.information-l>.information-l-3{position: relative;height: 120px;border-bottom: 1px solid #CCCCCC;}
#information>.information>.information-l>.information-l-3>span{position:absolute;top:33px;font: 12px/12px "微软雅黑";color: #666666;display: block;margin-bottom: 5px;}
#information>.information>.information-l>.information-l-3>.information-l-3-1{margin-left: 190px;}
#information>.information>.information-l>.information-l-3>.information-l-3-1>input{width: 21px;height: 21px;display: inline-block;margin-right: 10px;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/radio-checked.svg) no-repeat 0 0;vertical-align: middle;position: absolute;top:30px;left: 160px;}
#information>.information>.information-l>.information-l-3>.information-l-3-1>.open-trigger{width: 21px;height: 21px;display: inline-block;margin-right: 10px;
border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/radio.svg) no-repeat 0 0;vertical-align: middle;position: absolute;left: 160px;top:73px;
}
#information>.information>.information-l>.information-l-3>.information-l-3-1>span{display: block;padding-top: 33px;font: 12px/12px "微软雅黑";color: #666666;}
#information>.information>.information-l>.information-l-3>.information-l-3-1>span:nth-of-type(2){padding-bottom:29px;}
#information>.information>.information-l>.information-l-4{height: 174px;position: relative;border-bottom: 1px solid #CCCCCC;}
#information>.information>.information-l>.information-l-4>span{font: 12px/12px "微软雅黑";color: #666666;position: relative;top:34px;}
#information>.information>.information-l>.information-l-4>.information-l-4-1{margin-top:18px;margin-left: 186px;padding-bottom: 21px;}
#information>.information>.information-l>.information-l-4>.information-l-4-1>p{font: 12px/20px "微软雅黑";color: #666666;}

#information>.information>.information-l>.information-l-5{height: 80px;position: relative;}
#information>.information>.information-l>.information-l-5>span{font: 12px/12px "微软雅黑";color: #666666;position: relative;top:34px;}
#information>.information>.information-l>.information-l-5>.information-l-5-1{margin-top:18px;margin-left: 186px;padding-bottom: 27px;border-bottom: 1px dashed #CCCCCC;}
#information>.information>.information-l>.information-l-5>.information-l-5-1>span{font: 12px/20px "微软雅黑";color: #666666;}
#information>.information>.information-l>.information-l-5>.information-l-5-1>input{width: 21px;height: 21px;display: inline-block;margin-right: 10px;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/radio-checked.svg) no-repeat 0 0;vertical-align: middle;position: absolute;top:30px;left: 160px;}

#information>.information>.information-l>.information-l-6{height: 80px;position: relative;}

#information>.information>.information-l>.information-l-6>.information-l-6-1{margin-left: 186px;padding: 29px 0;border-bottom: 1px dashed #CCCCCC;}
#information>.information>.information-l>.information-l-6>.information-l-6-1>span{font: 12px/20px "微软雅黑";color: #666666;}
#information>.information>.information-l>.information-l-6>.information-l-6-1>input{width: 21px;height: 21px;display: inline-block;margin-right: 10px;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/radio.svg) no-repeat 0 0;vertical-align: middle;position: absolute;top:30px;left: 160px;}

#information>.information>.information-l>.information-l-7{height: 80px;position: relative;border-bottom: 1px solid #CCCCCC;}

#information>.information>.information-l>.information-l-7>.information-l-7-1{margin-left: 186px;padding: 29px 0;}
#information>.information>.information-l>.information-l-7>.information-l-7-1>span{font: 12px/20px "微软雅黑";color: #666666;}
#information>.information>.information-l>.information-l-7>.information-l-7-1>input{width: 21px;height: 21px;display: inline-block;margin-right: 10px;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/radio.svg) no-repeat 0 0;vertical-align: middle;position: absolute;top:30px;left: 160px;}

#information>.information>.information-l>.information-l-8{height: 174px;position: relative;}
#information>.information>.information-l>.information-l-8>span{font: 12px/12px "微软雅黑";color: #666666;position: relative;top:34px;}
#information>.information>.information-l>.information-l-8>.information-l-8-1{margin-top:18px;margin-left: 186px;padding-bottom: 21px;}
#information>.information>.information-l>.information-l-8>.information-l-8-1>p{font: 12px/20px "微软雅黑";color: #E62318;}
#information>.information>.information-l>.information-l-8>.information-l-8-1>p:nth-of-type(3){font: 12px/20px "微软雅黑";color: #666666;}



#information>.information>.information-r{float: left;width: 220px;margin-left: 20px;overflow: hidden;}
#information>.information>.information-r>.information-r-t{border-bottom:2px solid #004098;}
#information>.information>.information-r>.information-r-t>span{font: 12px/2 "微软雅黑";color: #666666;margin-left:84px ;}
#information>.information>.information-r>.information-r-c{padding-bottom:20px ;border-bottom: 2px #004098 solid;padding-top: 30px;}
#information>.information>.information-r>.information-r-c>p{height:24px}
#information>.information>.information-r>.information-r-c>p>span{font: 12px/2 "微软雅黑";color: #666666;float: right;}
#information>.information>.information-r>.information-r-c>p>span:nth-last-of-type(2){margin-left: 60px;}
#information>.information>.information-r>.information-r-c>p:nth-of-type(2)>span{color: #EA1A1A;}

##information>.information>.information-r>.information-r-b{}
#information>.information>.information-r>.information-r-b>a:nth-of-type(1){height: 50px;width: 220px;background: skyblue;color: #ffffff;display: block;margin-top: 5px;border-radius: 5px;text-align: center;font: 12px/50px "微软雅黑";}
#information>.information>.information-r>.information-r-b>a:nth-of-type(2){display: block;font: 12px/44px "微软雅黑";color: #666666;}
#information>.information>.information-r>.information-r-b>a:nth-of-type(2)>img{width: 12px;height: 12px;}